/* font Global*/

p {
    color: #FFF9EB;
    text-align: center;
}
.custom-h1 {
    color: #FFF9EB;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 3em;
    text-align: center;
}
.sous-titre {
    color: #FFF9EB;
    font-weight: bold;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2em;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
    text-align: center;
}
svg {
    width: 32px;
}
.fav {
    color: yellow;
    position: relative;
    left: 102%;
    cursor: pointer;
}
.fav:hover {
    background-color: #ff8f33;
    border-radius: 50px;
    transition: background-color 0.25s ease-out;
}
.chevron {
    color: #FFF9EB;
    position: absolute;
    bottom: 0;
    right: 1%;
    cursor: pointer;
}
.chevron:hover {
    background-color: #ff8f33;
    border-radius: 50px;
    transition: background-color 0.25s ease-out;
    animation: rotate 0.5s linear;
}
@keyframes rotate {
    from {
        transform: rotateZ(0deg);;
    }
    to {
        transform: rotateZ(180deg);;
    }
}
.overlay {
    background-color: black;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 9998;
}

.croix {
    display: none;
    cursor: pointer;
    position: absolute;
    right:  0;
    top: 0;
}

/* HOME PAGE */


/* NavBar */
header {
    position: relative;
    z-index: 9999;
    
}
#logo {
    max-width:64px;
    height: auto;
}
.navigation {
    background-color: #D9D9D9;
}
.lien {
    margin-right: 40px;
}
li:hover {
    color : #fff9eb;
}


/* Body */
body {
    height: 100vh;
    background: linear-gradient(180deg, rgba(255,143,51,1) 0%, rgba(204,92,0,1) 100%);
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.box {
    height: auto;
    max-width: 733px;
    position: relative;
    background-color: #CC5C00;
    border-radius: 10px;
}
#position-titre {
    margin-top: -20px;
}
.photo {
    grid-area: 1 / 1 / 3 / 2;
}
.griding {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


/* FORM */
.flexing {
    display: flex;
    flex-direction: column;
}

#search-title {
    margin-top: 25px;
}
input{
    border-radius: 45px;
    border: none;
    outline: 0;
}
span {
    cursor: pointer;
}
.searching {
    background-color: #954300;
    border-radius: 45px;
    border : none;
}
.form-control {
    background-color: #CC5C00;
    border: none;
    border-radius: 3px;
    opacity: 0.5;
}
.form-control:focus {
    background-color: #CC5C00;
    color: #FFF9EB;
    appearance: none;
    opacity: 1;
}
.result-box {
    background-color: #CC5C00;
    max-width: 89%;
    border-radius:0px 0px 45px 0px;
    display: none;
    
}
.result-box ul li {
    list-style: none;
    cursor: pointer;
    padding: 8px 3px;
    max-width: 95%;
    border-radius: 5px;
}
.result-box ul li:hover {
    background-color: #ffb070;
    color: #fff9eb;
    
}

/* HOME PAGE */

/* MAIN */
.container-grid-mosaique {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    background-color: #CC5C00;
    width: auto;
    height: auto;
    overflow: hidden;
    gap: 20px;
    padding: 15px;
}
.page2 {
    height: 100%;
}
.img-grid {
    height: 300px;
    width: 300px;
    object-fit: cover;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
}
.flow:hover img {
    transform: scale(1.25);
}
.flow {
    overflow: hidden;
}


/* PAGINATION */
.paging{
    position: relative;
    right: 18%;
}
.page-link {
    border-radius: 45px;
    background-color: #D9D9D9;
    color: black;
}
.load {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}
.spinner-grow {
    width: 500px;
    height: 500px;
}